body{
    font-family: "Montserrat";
    text-align: center;
    
}

h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat";
    font-weight: bold;
}

#title{
    background-color: #ff4c68;
    color: #fff;
       
}

.big-headding{
    text-align: left;
}

.container-fluid{
    padding: 3% 15% 7%;
}

h1{
font-size: 4rem;
line-height: 1.5;

}

h2{
        
    line-height: 2;
    
}

p{
    color: #8f8f8f;
}

/* navebar brand */
.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family: Ubuntu;
    font-size: 2.5rem;
    font-weight: bold;
    
}
.nav-item{
    padding: 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-light";
}

/* download button */
.download-button{
    margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 35%;
   
   
}

/* Feartures section */
#features{
    padding: 7% 10%;
    background-color: #fff;
    position: relative;
    
    
}

.feature-box{
text-align: center;
padding: 5%;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}


/* Testimonial section */
#testimonials {
    background-color:#ef8172 ;
    color: #fff;
}
.carousel-item{
    padding: 7% 15%;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color:#ef8172 ;
    padding-bottom: 3%;
}

.press-logo{
width: 15%;
margin: 20px 20px 50px;

}


/* Pricing Section */

#pricing{
    padding: 100px;
   
}

.pricing-colum{
    padding: 3% 2%;
}


/* Call to Action */

#cta {
    padding: 7% 15%;
    background-color: #ff4c68;
    color: #fff;  

}

.cta-heading{
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
    
}

/* Footer */
#footer {
    padding: 7% 15%;
    background-color: #fff;
        
}

.social-icon{
margin: 20px 10px;

}

/* Media quarry Breakpoint */
@media ( max-width: 1028px){
#title{
    text-align: center;
}
.title-image{
    position: static;
    transform: rotate(0);
}

}





